<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="benyamephrem.tilt" >

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="false"
        android:xlargeScreens="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <!--This meta-data tag is required to use Google Play Services.-->
        <meta-data android:name="com.google.android.gms.version"
                   android:value="@integer/google_play_services_version" />

        <activity
            android:name="benyamephrem.tilt.UI.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="benyamephrem.tilt.UI.TraditionalMode"
            android:label="@string/title_activity_traditional_mode"
            android:parentActivityName="benyamephrem.tilt.UI.MainActivity"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="benyamephrem.tilt.UI.MainActivity" />
        </activity>
        <activity
            android:name="benyamephrem.tilt.UI.Redirect"
            android:label="@string/title_activity_redirect"
            android:parentActivityName="benyamephrem.tilt.UI.TraditionalMode"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="benyamephrem.tilt.UI.TraditionalMode" />
        </activity>
        <activity
            android:name="benyamephrem.tilt.UI.ChaseMode"
            android:label="@string/title_activity_chase_mode"
            android:parentActivityName="benyamephrem.tilt.UI.MainActivity"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="benyamephrem.tilt.UI.MainActivity" />
        </activity>
        <activity
            android:name="benyamephrem.tilt.UI.ShiftMode"
            android:label="@string/title_activity_shift_mode"
            android:parentActivityName="benyamephrem.tilt.UI.MainActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="benyamephrem.tilt.UI.MainActivity" />
        </activity>

        <activity android:name="com.google.android.gms.ads.AdActivity"
                  android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
                  android:theme="@android:style/Theme.Translucent" />

    </application>

</manifest>
